::-webkit-scrollbar{
    width: 10px;
		}
	::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px grey; 
  border-radius: 5px;
	}
	::-webkit-scrollbar-thumb {
  background: red; 
  border-radius: 15px;
	}
	::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}

h1{
   margin:2px;
   font-size:24px; 
   text-align:center;
   background-color:red;
   padding:20px;
   }
h2{background-color:blue;
   padding:5px;
	 color: white;

   text-align:center;
   }
h3{
   text-align:center;
   float:right; 
   padding:30px;
   font-size:21px
   }
	
.left{
     display:flex;
     flex-direction:column;
		 border-radius: 25px;
     width:49%;
     float: left;
		 border:outset;
		 border-top-color: red;
		 margin: 4px;     
	 }
.right{
    float:right;
    flex-direction:coloum;
    text-align:center;
    width:48.9%;
	  border:outset;
		border-top-color: red;
		border-left-color: ;
		margin: 4px;
		border-radius: 25px;
	  }		 
table{
		 display: table-row-group;
     vertical-align: middle;
     border-color: inherit;
     
		 }
		 

th, td {
  padding: 8px 8px;
  text-align: justify;
  border-bottom: 2px solid #ddd;  	   
  display: table-cell;
  vertical-align: top;
	}
	.a{
		text-align: center;
	}