body{
    padding-left: 20px;
    padding-right: 20px;
    
    padding-top: 10px;
     border:groove;
    border-radius:100px;
    
}
.color{
    color: red;
    
}
h3{ 
color:white;
    background-color: red;
    border-radius: 100px;
    text-align:center;
    width: 200px;
}
h4{
   
    color:white;
    background-color:red;
    width:300px;
    padding-left: 15px;
    padding-right:15px;
    border-radius:50px;
    text-align: center;
    border:groove;
    height:20px;
    }
h2{
    
    width: 400px;
    text-align: center;
    border:groove;
    border-radius: 80px;
    background-color: F8F66C;
}
.a{
    background-color: red;
    border-radius: 100px;
    text-align: center;
    width: 200px;
}
.c{
    padding-right: 50px;
    
    width: 700px;
    text-align: justify;
    border-radius: 50px;
    border: groove;
    padding-left: 50px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.i{
    padding-top: 10px;
    padding-bottom: 10px;
    border: groove;
    border-radius: 10px;
}
.q{ width:600px;
    
    padding-left: 15px;
    font-size: 20px;
    padding-right:15px;
    border-radius:50px;
    text-align: center;
    border:groove;
    background-color: F8F66C;
}
.d{
    background-color: C6C6C2;
    margin-left: 200px;
    width: 700px;
    text-align: left;
    border-radius: 10px;
    border: groove;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
}
.e{
    background-color: DEDDDB;
    margin-top: 10px;
    margin-bottom: 10px;
    margin:auto;
    border-radius: 10px;
    width: 600px;
    text-align: left;
    border: groove;
    padding-left: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.f{
    background-color: D1D1CE;
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: 5px;
    border-radius: 10px;
    width: 650px;
    text-align: left;
    border: groove;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.g{
    margin-top: 25px;
    margin-bottom: 5px;
    margin-left: 5px;
    border-radius: 10px;
    width: 650px;
    text-align: left;
    border: groove;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
}
.h{
    background-color: F9F8F4;
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: 5px;
    border-radius: 10px;
    width: 600px;
    text-align: left;
    border: groove;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
}
.i{
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: 5px;
    border-radius: 10px;
    width: 550px;
    text-align: left;
    border: groove;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
}
.j{
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: 5px;
    border-radius: 10px;
    width: 550px;
    text-align: left;
    border: groove;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
}
p{
       padding-left:25px;
}
b{
      padding-left:20px; 
}